{% extends 'store/base.html' %}
{% block content %}


    <div class="container">
      <section class="text-center mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for item in items %}
          <div class="col-lg-3 col-md-4 mb-4">
            <div class="card">
              <!--Card image-->
              <div class="view overlay">

                <a href="{{ item.get_absolute_url }} ">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" alt="">

                </a>
              </div>

              <div class="card-body text-center">

                  <h5>{{ item.category }}</h5>

                <h5>
                  <strong><a href="{{ item.get_absolute_url }}" class="btn btn-outline-success" >{{ item.item_name }}</a></strong> <br>
                </h5><span>{{ item.label}}</span>

                <h4 class="font-weight-bold blue-text">
                  <strong>$
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  {% endif %}
                  </strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

          {% endfor %}

        </div>
      </section>
    </div>


{% endblock content %}
