

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href=" {% url 'index' %} ">M-ECOM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{ request.user|title }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order_summary' %}">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a class="nav-link " href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class=" ">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} d-flex justify-content-center" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    </div>
